/* .mr-teste{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
} */

.mr-teste{
    color: white;
    margin-right: 4px;
}
.img{
    width: 400px;
    height: 200px;
}
.butto {
    right: 44px;
    top: 44px;
    color: white;
    text-align: center;
}